body {
  margin: 10px;
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "lucida grande",tahoma,verdana,arial,'Hiragino Kaku Gothic Pro',Meiryo,sans-serif;
  color: #FFFFFF;
  text-align: center;
}
.social_btns {
  text-align: left;
  margin-bottom: 20px;
}
#logo_img {
  width: 150px;
}
#logo {
  margin-top: 40px;
  margin-bottom: 10px;
}
#info {
  font-size: 16px;
  line-height: 30px;
  margin-top: 40px;
}
.store_link {
  margin: 70px;
}
#footer {
  margin-top: 70px;
  margin-bottom: 20px;
}
table.developer {
  margin:auto;
  margin-top:30px;
}
table.developer td.photo {
  width: 200px;
}
table.developer td {
  border: none;
  text-align: left;
  padding-bottom: 40px;
}
.photo img {
  width: 250px;
  margin-right: 30px;
}
.donusa {
  width: 100px;
}
a {
  color: inherit;
}
img.icon {
  width: 30px;
}

@media only screen and (max-width:700px) {

}

@media only screen and (max-width:700px) {
  body, html {
    margin: 0;
    padding: 0;
  }
  table.developer tbody tr {
      display: block;
      margin-bottom: 1.5em;
  }
  table.developer tbody th,
  table.developer tbody td {
      display: list-item;
      border: none;
      list-style: none;
  }
}